@keyframes fast-fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.book-card {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  transition: transform 0.2s ease-in-out;
}
.book-card:hover {
  transform: scale(0.95);
}
.book-card.exit-bounce {
  transform: scale(1.1);
}
.book-card.full-width {
  transition: transform 0.2s ease-out;
}
.book-card.full-width.exit-bounce {
  transform: scale(0.7);
}
.book-card.full-width:hover {
  transform: scale(1);
}
.book-card .book-card__cover {
  height: 30vw;
  padding: 0;
}
.book-card .book-card__cover > span {
  display: block;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  background-size: 100% 100%;
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: bottom right;
  border: 2pt solid;
}
.book-card .book-card__cover.fade {
  opacity: 0;
  animation: fast-fade-in 0.5s 0.1s forwards;
}
.book-card .book-card__cover.fade > span:hover {
  box-shadow: 1px 1px 20px rgba(1, 1, 1, 0.3);
  cursor: pointer;
}
.book-card.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
.book-card.row > .book-card__cover {
  min-width: 100%;
  max-width: 100%;
  flex: 2;
  flex-shrink: 3;
}
.book-card.row > .book-card__text {
  padding: 1vh 0;
}
.book-card.column {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.book-card.column.full-width {
  flex-direction: column;
}
.book-card.column > .book-card__cover {
  min-width: 23vw;
}
.book-card.column > .book-card__text {
  width: 50%;
}
.book-card .book-card__text {
  width: 100%;
  flex-basis: 2;
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 2vw;
}
.book-card .book-card__text .book-card__translator {
  display: block;
}
.book-card .book-card__text .book-card__translator--inline {
  display: inline-block;
}
.book-card .book-card__text .book-card__name:hover {
  cursor: pointer;
}
.book-card .book-card__text > div:nth-child(2) {
  width: 100%;
}
.book-card .book-close-btn__wrapper {
  position: relative;
  text-align: left;
}
.book-card .desc-comments {
  min-width: 100%;
  max-width: 100%;
  padding: 2vh 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}
.book-card .desc-comments > .desc-comments__desc-text {
  padding: 2vh 4vw;
}

@media only screen and (max-width: 767px) {
  .book-card .book-card__cover {
    min-height: 78vw;
  }
  .book-card .book-card__cover > span {
    border-radius: 3vw;
  }
  .book-card.column > .book-card__cover {
    width: 50vw;
    min-width: 50vw;
    max-width: 50vw;
    min-height: 65vw;
    min-height: 65vw;
    margin-bottom: 10px;
  }
  .book-card.column.full-width {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .book-card.column.full-width > .book-card__text {
    width: 100%;
    align-items: center;
  }
  .book-card.row {
    border-radius: 20px;
    padding: 10px 10px;
  }
  .book-card.row .book-card__cover {
    border-radius: 20px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    background-color: transparent;
  }
  .book-card.row .book-card__cover > .book-card__cover__img {
    border: none;
  }
  .book-card.row .book-card__text .book-card__name {
    margin-bottom: 6px;
  }
  .book-card .book-card__text {
    min-height: 120px;
  }
}
@media only screen and (min-width: 768px) {
  .book-card .book-card__cover {
    min-height: 26vw;
  }
  .book-card .book-card__cover.fade {
    height: 26vw;
  }
  .book-card.column > .book-card__cover {
    width: 23vw;
    min-width: 23vw;
    max-width: 23vw;
    min-height: 30vw;
    min-height: 30vw;
  }
  .book-card.column.full-width {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
  }
  .book-card.column.full-width > .book-card__text {
    align-items: center;
  }
  .book-card .book-card__text {
    min-height: 20vw;
  }
}
@media only screen and (min-width: 1200px) and (min-height: 300px) {
  .book-card .book-card__cover {
    min-height: 13vw;
  }
  .book-card .book-card__cover.book-card__cover.fade {
    height: 13vw;
  }
  .book-card.column > .book-card__cover {
    width: 12vw;
    min-width: 12vw;
    max-width: 12vw;
    min-height: 15.6vw;
    max-height: 15.6vw;
  }
  .book-card.column.full-width {
    background-color: transparent;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .book-card.column.full-width > .book-card__cover {
    width: 16vw;
    min-width: 16vw;
    max-width: 16vw;
    min-height: 21vw;
    max-height: 21vw;
    padding: 1vw 1.3vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left-width: 0;
  }
  .book-card.column.full-width > .book-card__cover > span {
    margin-bottom: 3vw;
  }
  .book-card.column.full-width > .book-card__text {
    width: 20vw;
    min-width: 20vw;
    max-width: 20vw;
    min-height: 21vw;
    max-height: 21vw;
    padding: 2vh 2vw;
    margin-right: 0;
    justify-content: space-evenly;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-right-width: 0;
  }
  .book-card.column.full-width > .desc-comments {
    min-width: 30vw;
    max-width: 30vw;
    min-height: 70vh;
    max-height: auto;
    padding: 2vh 0.5vw;
    margin-right: 1vw;
    border-radius: 10px;
    overflow: visible;
    flex-flow: column nowrap;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .book-card.column.full-width > .desc-comments > .desc-comments__desc-text {
    padding: 1vh 0.5vw;
  }
  .book-card .book-card__text {
    min-height: 8vw;
  }
}

/*# sourceMappingURL=book-card.module.css.map */
