.about-us__wrapper {
	padding: 0 0;
	margin-top: 2vw;
	padding-bottom: 9vw;
	min-width: 100vw;
	max-width: 100vw;
	height: 100vh;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 0;
}

.about-us__article {
	padding: 0 2vw;
	height: auto;
}

.about-us__article__h1 {
	font-size: 6vw;
	padding-bottom: 2vh;
}

.about-us__article__text {
	padding: 2vh 4vw;
	font-size: 4vw;
}