*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, #root {
	height: 100vh !important;
	width: 100vw !important;
}

body {
	background-color: #F8F9FB;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#root {
	overflow: hidden;
}

.app-wrapper {
	width: 100%;
	overflow: hidden;
	
}