@keyframes fast-fade-in {
	0% {opacity: 0; transform: scale(0)}
	100%{opacity: 1; transform: scale(1)}
}

.book-card__wrapper {
	width: 100%;
}

.book-card__cover {
	background-size: 100% 100%;
	height: 50vw;
	background-repeat: no-repeat;
	background-position: bottom right;
	border: 2pt solid #F7F9FA;
	box-shadow:
		4px 4px 4px rgba(0, 0, 0, 0.2),
		8px 8px 8px rgba(0, 0, 0, 0.1);
	opacity: 0;
	animation: fast-fade-in 0.5s 0.1s forwards;
}

.book-card__wrapper.column {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: start;
	align-items: space-around;
}

.book-card__wrapper.column > .book-card__cover {
	width: 36vw;
}

.book-card__text {
	min-height: 100%;
	font-size: 3vw;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 0 2vw;
}
.book-card__text > div {
	align-self: stretch;
}
.book-card__wrapper.row > .book-card__text {
	padding: 1vh 0;
}

.book-card__name, .book-card__price {
	color: #2E414E;
	font-size: 4vw;
}

.book-card__writer, .book-card__translator {
	color: #B5B5B5;
	font-size: 4vw;
}

.book-close-btn__wrapper {
	flex-grow: 2;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
}

.desc-comments__wrapper {
	min-width: 100%;
	max-width: 100%;
	padding: 2vh 0;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
}

.desc-comments__wrapper__desc__text {
	font-size: 3vw;
	padding: 2vh 4vw;
}

@media only screen and (min-width: 768px) {
	.book-card__cover {
		height: 35vw;
	}
	
	.book-card__name, .book-card__writer, .book-card__translator, .book-card__price {
		font-size: 3vw;
	}
	
	.book-card__wrapper.column > .book-card__cover {
		width: 25vw;
	}
	
	.book-card__wrapper.column > .book-card__text > div > div{
		font-size: 4vw;
	}
	
	.desc-comments__wrapper__desc__text {
		font-size: 3vw;
	}
}