@keyframes roll-in {
	0% {transform: translate(0, -100%);}
	100% {transform: translate(0, 0);}
}

.nav {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	overflow: hidden;
	position: -webkit-sticky;
	position: sticky;
	width: 100vw;
	z-index: 0;
}
.nav.toggled {
	 height: 100vh;
	 z-index: 1;
}

.nav__wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1vh 2vw;
	padding-bottom: 0;
}

.nav-brand__wrapper {
	min-width: 80%;
}
.nav-hamburger {
	min-width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.nav-items__wrapper {
	min-width: 100vw;
	height: 0;
	position: relative;
	overflow: hidden;
	transition: opacity 0.3 ease;
	opacity: 0;
}
.nav-items__wrapper > div {
	display: none;
}
.nav.toggled > .nav-items__wrapper {
	flex: 1;
	min-width: 100vw;
	transition: opacity 1s ease;
	opacity: 1;
	padding: 2vh 2vw;
	display: flex;
	flex-direction: column;
	flex-wrap: no-wrap;
	justify-content: center;
	align-items: center;
	animation: roll-in 0.7s forwards;
}
.nav.toggled > .nav-items__wrapper > div {
	padding-bottom: 2vw;
	display: block;
}
.link-item {
	color: #2E414E;
	font-size: 7vw;
}

.nav-brand__h1 {
	color: #2E414E;
	font-weight: 400pt;
	font-size: 8vw;
}

@media only screen and (min-width: 768px) {
	.link-item {
		font-size: 3vw;
	}
	
	.nav-brand__h1 {
		font-size: 4vw;
	}
	
	.nav-hamburger {
		display: none;
		height: 0;
		flex: 0;
	}
	
	.nav {
		min-width: 100vw;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 2vh 2vw;
	}
	
	.nav-wrapper {
		padding: 0;
		display: block;
		flex: 2;
	}
	
	.nav-brand__wrapper {
		width: auto;
		min-width: 0;
		padding: 0;
	}
	
	.nav-items__wrapper {
		width: auto;
		min-width: 0;
		height: auto;
		position: relative;
		transition: opacity 0;
		opacity: 1;
		padding: 0 2vw;
		flex: 8;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
	}
	.nav-items__wrapper > div {
		display: block;
	}
}