.nav-hamburger__btn {
	width: 28px;
	height: 16.8px;
	background: none;
	border: none;
	padding: 3px;
	cursor: pointer;
}
.nav-hamburger__wrapper {
	width: 100%;
	min-height: 100%;
	position: relative;
}
.nav-hamburger__wrapper > span {
	content: "";
	display: block;
	width: 100%;
	height: 3.2px;
	position: absolute;
	background-color: #2E414E;
	transform: translateY(-50%);
	transition: top 0.5s 0.5s ease;
	transition: transform 0.5s ease;
}
.nav-hamburger__wrapper > span:nth-child(1) {
	transition: all 0.5s ease;
	top: -1.6px;
}
.nav-hamburger__wrapper > span:nth-child(2) {
	margin-top: -1.6px;
	top: 50%;
}
.nav-hamburger__wrapper > span:nth-child(3) {
	bottom: -1.6px;
}

.nav-hamburger__wrapper.toggled > span {
	transition: top 0.5s 0.5s ease;
	transition: transform 0.5s ease;
}
.nav-hamburger__wrapper.toggled > span:nth-child(1) {
	transition: all 0.5s ease;
	width: 0;
	opacity: 0;
}
.nav-hamburger__wrapper.toggled > span:nth-child(2) {
	transform-origin: center;
	transform: rotateZ(45deg);
}
.nav-hamburger__wrapper.toggled > span:nth-child(3) {
	transform-origin: center;
	margin-top: -0.8px;
	top: 50%;
	transform: rotateZ(-45deg);
}