@keyframes fade-in {
	0% {opacity: 0}
	100% {opacity: 1}
}

.list {
	padding: 2vh 0;
}

.list__title {
	color: #2E414E;
	padding: 2vh 2vw;
}

.list__wrapper {
	overflow-x: hidden;
}

.list__wrapper__column {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 2vw;
}

.list__wrapper__row {
	/*min-height: 100%;*/
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.list__card__row {
	min-width: 30vw !important;
	max-width: 30vw !important;
	margin-left: 2vw;
	/*display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	overflow: hidden;*/
}
.list__card__row:nth-child(1) {
	margin-right: 2vw;
}
.list__card__row:last-child {
	margin-left: 2vw;
}

.list__card__column {
	min-width: 100% !important;
	max-width: 100% !important;
	margin: 2vh 0;
}

.empty-list__text {
	width: 100%;
	padding: 2vh 2vw;
	text-align: center;
}

.results-list {
	opacity: 0;
	animation: fade-in 0.7s forwards;
}

.webkit-scroll {
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 768px) {
	.list__card__row {
		min-width: 20vw !important;
		margin: 0 1vw;
	}

	.list__card__column {
		min-width: 100% !important;
		max-width: 100% !important;
		margin: 1vh 0;
	}
}

@media only screen and (min-width: 1200px) and (min-height: 300px) {
	.list {
		border-radius: 25px;
		margin-bottom: 2vh;
		padding: 0.5vh;
		border: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
	}
	.list.full-width {
		border: none;
		box-shadow: none;
	}
	.list__wrapper__row {
		flex-wrap: wrap;
		padding: 2vh 2vw;
	}
	.list__wrapper__column {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.list__wrapper__column.full-width {
		flex-wrap: nowrap;
	}
	.list__title {
		padding-bottom: 4vh;
	}
	.list.full-width > .list__title {
		padding: 0;
		max-height: 0;
	}
	.list__card__row {
		min-width: 10vw !important;
		max-width: 10vw !important;
		margin: 1vh 1vw;
	}

	.list__card__column {
		min-width: 40% !important;
		max-width: 40% !important;
		margin: 1vh 0;
	}
	.list__wrapper__column.full-width > .list__card__column {
		min-width: 100% !important;
		max-width: 100% !important;
	}

	.webkit-scroll {
		overflow: hidden;
	}
}