.tab-btn__button {
	padding: 1vh 2vw;
	margin: 0;
	font-size: 3vw;
	border: none;
	border-radius: 0;
}

.tab-btn__button:first-child {
	border-top-right-radius: 1vw;
	border-bottom-right-radius: 1vw;
}

.tab-btn__button:last-child {
	border-top-left-radius: 1vw;
	border-bottom-left-radius: 1vw;
}

@media only screen and (min-width: 1200px) and (min-height: 300px) {
	.tab-btn__button {
		padding: 0.7vh 1.5vw;
		margin: 0;
		font-size: 2.3vw;
	}

	.tab-btn__button:first-child {
		border-top-right-radius: 0.7vw;
		border-bottom-right-radius: 0.7vw;
	}

	.tab-btn__button:last-child {
		border-top-left-radius: 0.7vw;
		border-bottom-left-radius: 0.7vw;
	}
}