.theme-switch {
	width: 8.5vw;
	height: 8.5vw;
	position: relative;
}

.theme-switch:hover {
	cursor: pointer;
}

.theme-switch__btn {
	width: 100%;
	height: 100%;
	border-radius: 2vw;
	background: transparent;
}

.theme-switch__big-circle {
	content: "";
	width: 4.8vw;
	height:4.8vw;
	border-radius: 50%;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.theme-switch__small-circle {
	width: 3.8vw;
	height: 3.8vw;
	border-radius: 50%;
	position: absolute;
	top: 40%;
	left: 66.66%;
	transform: translate(-50%, -50%);
	opacity: 1;
	transition: all 0.5s ease;
}

.theme-switch.toggled > .theme-switch__small-circle {
	width: 0;
	height: 0;
	opacity: 0;
}

@media only screen and (min-width: 768px) {
	.theme-switch {
		width: 4vw;
		max-width: 50px;
		height: 4vw;
		max-height: 50px;
	}

	.theme-switch__btn {
		border-radius: 1vw;
	}

	.theme-switch__big-circle {
		width: 3vw;
		max-width: 24px;
		height: 3vw;
		max-height: 24px;
		top: 50%;
	}

	.theme-switch__small-circle {
		width: 2.2vw;
		max-width: 17.6px;
		height: 2.7vw;
		max-height: 21.6px;
		top: 50%;
	}
}